<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Cloud</string>
	<string>Tifa</string>
	<string>Aeris</string>
	<string>Sephiroth</string>
	<string>Barret</string>
	<string>Cid</string>
	<string>Cait Sith</string>
	<string>Red XIII</string>
	<string>Yuffie</string>
	<string>Vincent</string>
</array>
</plist>
