<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 10</key>
	<dict>
		<key>imageName</key>
		<string>Yuffie</string>
	</dict>
	<key>Item 9</key>
	<dict>
		<key>imageName</key>
		<string>Vincent</string>
	</dict>
	<key>Item 8</key>
	<dict>
		<key>imageName</key>
		<string>Tifa</string>
	</dict>
	<key>Item 7</key>
	<dict>
		<key>imageName</key>
		<string>Sephiroth</string>
	</dict>
	<key>Item 6</key>
	<dict>
		<key>imageName</key>
		<string>Red XIII</string>
	</dict>
	<key>Item 5</key>
	<dict>
		<key>imageName</key>
		<string>Cloud</string>
	</dict>
	<key>Item 4</key>
	<dict>
		<key>imageName</key>
		<string>Cid</string>
	</dict>
	<key>Item 3</key>
	<dict>
		<key>imageName</key>
		<string>Cait Sith</string>
	</dict>
	<key>Item 2</key>
	<dict>
		<key>imageName</key>
		<string>Barret</string>
	</dict>
	<key>Item 0</key>
	<dict>
		<key>imageName</key>
		<string>Aeris</string>
	</dict>
</dict>
</plist>
